* {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 500px;
    margin: 0 auto;
}
body {
    font-family: 'Lato', sans-serif;
}
form {
    margin: 20px 0;
}
h1 {
    text-align: center;
    color: lightsalmon;
    margin-top: 20px;
}
input[type='text']{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border: 1px solid rgb(151, 118, 118);
    margin: 10px 0;
    border-radius: 8px;

}
input[type='submit'] {
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 8px;
    background: transparent;
    margin: 10px 0;
}
label {
    margin-bottom: 100px;
}
table {
    width: 100%;
    
    border-collapse: collapse;
}
tbody tr:nth-child(odd) {
    background-color: rgb(224, 224, 224);
}
th {
    padding: 10px;
    text-align: left;
}

@media (max-width: 600px) {
    .container {
        width: 80vw;
        margin: 0 auto;
    }
}